.DS_Store
tsconfig.tsbuildinfo
node_modules/
lerna-debug.log
npm-debug.log
.idea
package-lock.json

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

apify_storage/*
!apify_storage/key_value_stores/default/INPUT.json
